@model Template500.ViewModels.SiteSettingsViewModel
@{
    Page.Title = "Dashboard";
}

<h1>@Page.Title</h1>

<div>
<p>
    @Html.ActionLink("List Users", "ListUsers" , "Account")
</p>
<p>
    @Html.ActionLink("Logs", "Index" , "Logs")
</p>
<p>
    @Html.ActionLink("ELMAH", "Index" , "Elmah")
</p>
@if (Model.RegisterAdmin)
{
    <p>
        @Html.ActionLink("Register New Administrator", "RegisterAdmin", "Account")
    </p>
}

<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { id = "validation-error-summary" })

    <p>@Html.CheckBoxFor(x => x.Blog) @Html.LabelFor(x => x.Blog)</p>
    <p>@Html.CheckBoxFor(x => x.Register) @Html.LabelFor(x => x.Register)</p>
    <p>@Html.CheckBoxFor(x => x.RegisterAdmin) @Html.LabelFor(x => x.RegisterAdmin)</p>
    
    <div class="formbtns">
        <input type="submit" value="Save" />
    </div>
}
</div>