@model Template500.ViewModels.LogOnViewModel

@{
    Page.Title = "Log On";
}

<h1>@Page.Title</h1>

<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register")
    if you don't have an account.
</p>

@using (Html.BeginForm()) {

    @Html.ValidationSummary();

    <div class="editor-label">
        @Html.LabelFor(x => x.UserName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.UserName)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(x => x.Password)
    </div>
    
    <div class="formbtns">
        <input type="submit" value="Log On" />
    </div>
}
